.fmotion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}


.fmotion .project_card, li {
  font-family: 'Prompt', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

.fmotion .project_card {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  justify-content: space-between;
  align-self: center;
}

.fmotion .project_item {
  background-color:#DADADA;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  min-height: 250px;
  width:250px
}

.fmotion li:last-child {
  margin-bottom: 0px;
}

.fmotion .avatar {
  width: 40px;
  height: 40px;
  background-color: #666;
  border-radius: 20px;
}

.fmotion .row {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-top: 12px;
  background-color:transparent;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
  color:#fff;
}

.title{
  margin-top: 5px;
  background-color: transparent;
  color:#fff;
font-weight: 700;
font-size: 20px;
}



.image {
  width :95%;
  display : flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}