

.fmotion ul, li {
  font-family: 'Prompt', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

.fmotion ul {
  width: 300px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 5px;
  height: 100% !important;
}

.fmotion li {
  background-color: rgba(214, 214, 214, 0.5);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}

.fmotion li:last-child {
  margin-bottom: 0px;
}

.fmotion .avatar {
  width: 40px;
  height: 40px;
  background-color: #666;
  border-radius: 20px;
}

.fmotion .row {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-top: 12px;
}



